body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  opacity: 0.8;
  color: black;
  font-size: 15px;
  text-align: center;
  background-image: url(./images/g373701551450225.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  position: relative; 
}

header .header-bg {
  background-color: black;
  padding: 20px;
}

header .gradient-text {
  font-size: 2em;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


div.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.btns button.view-btn {
  background-color: aliceblue;
  color: hsl(26, 96%, 47%);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.meal {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px; 
  box-shadow: 5px #b869691a;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.meal img {
  width: 100%;
  border-radius: 5px;
}

.meal h3 {
  margin: 10px 0;
}

.meal p {
  margin: 5px 0;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: hsl(26, 96%, 47%);
  color: #fff;
  border: none;
  cursor: pointer;
}

.header {
  font-style: oblique;
}

.add-btn {
  background-color: hsl(0, 69%, 42%);
}

.close {
  background-color: grey;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.header-bg {
  background-color: none;
}


 #favorites-container img {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 20rem;
  flex-direction: column;
} 

#favorites-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}

#mymodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#closeModal {
  color : #aaa;
  float : right;
  font-size: 28px;
  font-Weight : bold;
  cursor : pointer;
}


#favorites-container {
  padding: 20px;
  background-color: hwb(0 91% 4% / 0.995);
}

.meal-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; 
}

.meal-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.meal-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.view-btn {
  background-color: rgb(121, 30, 30);
}

