body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  opacity: 0.8;
  color: hsl(26, 96%, 47%);;
  font-size: 15px;
  text-align: center;
  background-image: url(./images/g373701551450225.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  position: relative; 
}

header .header-bg {
  background-color: black;
  padding: 20px;
}

header .gradient-text {
  font-size: 2em;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.modal {
  background-color: blue;
}

div.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.btns button.view-btn {
  background-color: aliceblue;
  color: hsl(26, 96%, 47%);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.meal {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px; 
  box-shadow: 5px #b869691a;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.meal img {
  width: 100%;
  border-radius: 5px;
}

.meal h3 {
  margin: 10px 0;
}

.meal p {
  margin: 5px 0;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: hsl(26, 96%, 47%);
  color: #fff;
  border: none;
  cursor: pointer;
}

.header {
  font-style: oblique;
}

.add-btn {
  background-color: hsl(0, 69%, 42%);
}

.close {
  background-color: grey;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.favorites-container {
  background-color: #b869691a;
}

.header-bg {
  background-color: none;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2rem;
  flex-wrap: wrap;
  /* width: 15rem;
  height: 15rem; */
}

#favorites-container {
  background-color: blue;
}